Source: make-snake
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: make-snake
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kano-toolset, kano-profile, rxvt-unicode-256color, python
Description: Lightweight, configurable snake game running in the console
