[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-launcher "/usr/share/make-snake/snake-launch.sh" "make-snake"
Icon=/usr/share/kano-desktop/icons/snake.png
Terminal=false
Name=Make Snake
Comment= Learn command line basics with Snake
Categories=Application;Education;Development;Kano;
